{% extends 'TypKlienta/base.html' %}
{% load sitetree %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% load myTags %}
{% block content %}

    <h1>Strona główna</h1>


<div class="input_name">
    <h1>The input element</h1>


<form action="{% url 'index' %}" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Zapisz klienta i oblicz">
</form>
<br>
<br>
<br>
 <br><br>
<div>
     <a href="/kalkulacjacenowa"> <button type="submit" class="btn btn-info">Przejdz do nastepnego kroku</button></a>
</div>
 <p>Nowe zuzycie: {{ wynik }}</p>

</div>


 {% endblock %}