{% extends 'TypKlienta/base.html' %}
{% load sitetree %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% load myTags %}

{% block title %}Kalkulacja cenowa{% endblock %}

{% block content %}
<h3>Sugerowana moc instalacji wynosi: {{SugerowanaMoc}} kWp</h3>
<h3>Nazwa modułu : {{NazwaModuluStr}} </h3>
<h3>Liczba modułów: {{LiczbaModulowStr}} </h3>
<h3>Nazwa falownika : {{NazwaFalownikaStr}} </h3>
<h3>Liczba falowników: {{LiczbaFalownikowStr}} </h3>


<br>
<br>
<div>
<form method=POST action="">
    {% csrf_token %}
        {{ form }}
    <br><br>

  <label for="IloscOptymalizatorow">Wpisz liczbę optymalizatorów (jeśli brak pozostaw puste):</label>
  <input type="number" id="IloscOptymalizatorow" name="IloscOptymalizatorow"><br><br>

    <button type="submit" value="oblicz" class="btn btn-primary">Oblicz</button>

</form>
        <p>wartość: {{ WartoscOptymalizatorow }}  </p>
        <p>Wybrano Optymalizator: {{ modelform }}  </p>

</div>
 <br><br>
<div>
     <a href=""> <button type="submit" class="btn btn-info">Przejdz do nastepnego kroku</button></a>
</div>

{% endblock %}