{% extends 'TypKlienta/base.html' %}
{% load sitetree %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% load myTags %}

{% block title %}Kalkulacja cenowa{% endblock %}

{% block content %}
<h4>Sugerowana moc instalacji wynosi: {{SugerowanaMoc}} kWp</h4>
<h4>Nazwa modułu : {{NazwaModuluStr}} </h4>
<h4>Liczba modułów: {{LiczbaModulowStr}} </h4>
<h4>Nazwa falownika : {{NazwaFalownikaStr}} </h4>
<h4>Liczba falowników: {{LiczbaFalownikowStr}} </h4>
<h4>Nazwa optymalizatora mocy : {{NazwaOptyalizatorowStr}} </h4>
<h4>Liczba optymalizoatorów mocy: {{LiczbaOptyalizatorowStr}} </h4>
<h4>Nazwa systemu montażowego: {{NazwaSystemuMontazowegoStr}} </h4>

<br>
<div>
<form method=POST action="">
    <p> Wybierz z listy rozwijanej liczbę stringów:</p>
    {% csrf_token %}
        {{ form }}
    <br><br>
    <button type="submit" value="oblicz" class="btn btn-primary">Oblicz</button>

</form>
        <p>wartość: {{ WartoscStringow1 }}  </p>
        <p>Wybrano: {{ modelform }} szt. </p>

</div>
 <br><br>
<div>
     <a href="/kalkulacjapracegruntowe"> <button type="submit" class="btn btn-info">Przejdz do nastepnego kroku</button></a>
</div>

{% endblock %}