{% extends 'TypKlienta/base.html' %}
{% load sitetree %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% load myTags %}

{% block title %}Kalkulacja cenowa{% endblock %}

{% block content %}
<h3>Sugerowana moc instalacji wynosi: {{SugerowanaMoc}} </h3>

<br>
<br>
<div>
<form method=POST action="">
    {% csrf_token %}
        {{ form }}
    <br><br>

  <label for="dodatkowaliczba">Wpisz dodatkową ilość modułów:</label>
  <input type="number" id="dodatkowaliczba" name="dodatkowaliczba"><br><br>


        <input type="submit" value="oblicz">


</form>
        <p>Liczba modułów: {{ LiczbaModulow }}  </p>

</div>

{% endblock %}